.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    @media (width <= $breakpoint-md) {
        grid-template-columns: 1fr 1fr;
        gap: 75px;
    }

    @media (width <= $breakpoint-sm) {
        grid-template-columns: 1fr;
        gap: 100px;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: block;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__content {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card__media {
    aspect-ratio: 595/490;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 16px;
    }
}

.tag {
    font-size: typo(16px);
    text-transform: uppercase;
    font-weight: 300;
}

.btn {
    background-color: var(--color-primary);
    border-radius: 100px;
    padding: 8px 16px;

    display: flex;
    align-items: center;
    gap: 8px;

    font-size: typo(16px);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-white);
    width: fit-content;
}
.btn:hover {
    background-color: rgba(rgb(148, 164, 194), $alpha: 0.4);
    text-decoration: none;
}
