.footer {
    text-align: center;
    font-size: typo(18px);
    .contact {
        font-size: typo(56px);
    }

    .icons {
        display: flex;
        gap: 56px;

        padding: 0;

        list-style: none;
        justify-content: center;
    }

    .icon {
        color: #8c8c8c;
    }
}
