.header {
    padding: 25px 0;
    text-align: center;

    background-color: rgba($color: #000, $alpha: 0.6);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    .logo {
        color: var(--color-white);
        font-size: typo(20px);
        text-transform: uppercase;
    }
    .logo:hover {
        text-decoration: none;
    }
}
