/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: rgb(148, 164, 194);
    --color-bg-primary: #e2e2e2;
}
