{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpeg" alt="hero" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercice
            </h1>
        </div>
    </div>
</section>

<section class="section premiers">
    <div class="wrapper">
        <h2>
            <span>Mes premiers</span>
            laboratoires
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exsem01.png" alt="semaine 01" />
                </div>
                <div class="card__content">
                    <h3>sem 01 - révision</h3>
                    <p>
                        <span>Cette semaine contient exercices variés nous faisant réviser nos</span>
                        notions de html ainsi que de css
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="../sem01/" class="btn">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exsem02.png" alt="semaine 02" />
                </div>
                <div class="card__content">
                    <h3>sem 02 - timtools</h3>
                    <p>
                        <span>Cette semaine nous avons appris comment utiliser</span>
                        Timtools ainsi que commencé à apprendre le scss
                    </p>
                    <p class="tag">scss</p>
                    <a href="../sem02/" class="btn">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exsem03.png" alt="semaine 03" />
                </div>
                <div class="card__content">
                    <h3>sem 03 - Portfolio Louisa Joy</h3>
                    <p>
                        <span>Cette semaine nous avons fait un exemple de</span>
                        portfolio que pourrait avoir quelq'un en html et scss
                    </p>
                    <p class="tag">html + scss</p>
                    <a href="../sem03/" class="btn">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exsem04.png" alt="semaine 04" />
                </div>
                <div class="card__content">
                    <h3>sem 04 - Icônes et classes js</h3>
                    <p>
                        <span>Cette semaine nous avons appris comment utiliser</span>
                        des icônes ainsi que commencé à faire du javascipt
                    </p>
                    <p class="tag">scss</p>
                    <a href="../sem04/" class="btn">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section reactifs">
    <div class="wrapper">
        <h2>
            <span>Mes</span>
            laboratoires réactifs
        </h2>

        <div class="swiper js-swiper">
            <div class="swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/exsem07.png" alt="semaine 07" />
                    </div>
                    <div class="card__content">
                        <h3>sem 07 - Site réactif</h3>
                        <p>
                            <span>Cette semaine nous avons commencé à appendre comment faire des</span>
                            sites réactifs de desktop à mobile
                        </p>
                        <p class="tag">scss + javascript</p>
                        <a href="../sem07/" class="btn">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/exsem08.png" alt="semaine 08" />
                    </div>
                    <div class="card__content">
                        <h3>sem 08 - CryptoQc</h3>
                        <p>
                            <span>Cette semaine nous avons continuer à apprendre le</span>
                            réactif dans un exemple de site d'entreprise
                        </p>
                        <p class="tag">html + scss</p>
                        <a href="../sem08/" class="btn">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/exsem09.png" alt="semaine 09" />
                    </div>
                    <div class="card__content">
                        <h3>sem 04 - SwiperJs</h3>
                        <p>
                            <span>Cette semaine nous avons appris comment utiliser</span>
                            la librairie Swiper JS nous apprenant ainsi les caroussels
                        </p>
                        <p class="tag">scss + js</p>
                        <a href="../sem09/" class="btn">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
